/* Основные стили для всего документа */
body {
    font-family: Arial, sans-serif;
    padding: 10px;
    background-color: #1E2027; /* Цвет заднего фона */
    color: #FFFFFF; /* Цвет текста */
}

/* Стили для навигационного блока */
nav {
    background-color: #262A2F; /* Цвет фона навигации */
    padding: 10px;
    margin: 0; /* Сброс внешних отступов */
    width: 100%; /* Растягиваем по всей ширине */
    box-sizing: border-box; /* Учитываем padding в общей ширине */
}

/* Стили для списка элементов меню */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
}

/* Стили для каждого элемента меню */
nav li {
    margin-right: 20px;
}

/* Стили для ссылок в меню */
nav a {
    text-decoration: none;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 16px;
    padding: 10px 20px;
    display: block;
    transition: color 0.3s ease-in-out; /* Плавный переход цвета текста */
}

/* Стили для активной и наведенной ссылки в меню */
nav a.current,
nav a:hover {
    color: #FD5433; /* Цвет текста при наведении или активном состоянии */
}

/* Стили для вложенного iframe */
iframe {
    width: 100%;
    height: 80vh;
    border: none;
}

/* Стили для блока с изображениями и ссылками */
.image-links {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

/* Стили для ссылок в блоке изображений */
.image-links a {
    text-decoration: none;
}

/* Стили для изображений в блоке изображений */
.image-links img {
    width: 200px;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out; /* Плавный переход при наведении на изображение */
}

/* Стили для увеличения изображения при наведении */
.image-links a:hover img {
    transform: scale(1.1);
}

/* Стили для футера */
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 10px; /* Добавьте или уменьшите внутренние отступы, чтобы уменьшить высоту */
    background-color: #262A2F; /* Цвет фона футера */
}

/* Стили для надписи "2023 Путеводитель по Здоровому Образу Жизни" в футере */
.left-content p {
    font-family: Arial, sans-serif;
    color: #FFFFFF; /* Белый цвет текста */
    margin-bottom: 10px; /* Добавим отступ снизу */
}

/* Стили для надписи "Связаться с нами" в футере */
.left-content p a {
    font-family: Arial, sans-serif;
    color: #FD5433; /* Оранжевый цвет текста */
    text-decoration: none;
}

.right-content {
    display: flex;
    justify-content: flex-end; /* Выравнивание элементов вправо */
    align-items: center; /* Выравнивание по вертикали по центру */
}

/* Стили для графической ссылки в правой части футера */
.right-content a img {
    width: 40px; /* Задайте желаемую ширину изображения */
    height: auto; /* Сохраните соотношение сторон */
    border-radius: 5px; /* Закруглите углы изображения */
    margin-right: 10px;
}
